.nav {
    float: right;
    /* clear: right'; */
}

.nav-item {
    display: inline-block;
    padding: 1px 10px;
    font-size: 15px;
}

.nav-item button {
    border: none;
    padding: 10px 8px;
}

header {
    margin: 0 20px;
    /* clear: both; */
}

main {
    clear: right;
    text-align: center;
    padding-top: 170px;
}

.red {
    color: red;
}

.blue {
    color: rgb(64, 64, 207);
}

.orange {
    color: orangered;
}

.yellow {
    color: rgb(255, 166, 0);
}

.green {
    color: rgb(10, 192, 10);
}

.google {
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

